.dpt {
 width: 100%;
  height: 90%;
  background-color: #E3EDF9;
  padding: 25px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto; 
}


.dptheading {
  text-align: center;
  margin-bottom: 20px;
}

.Department1, .Department2 {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 15px;
}


.bt {
  padding: 12px;
  background-color: #121C3E;
  color: white;
  margin: 10px;
  font-size: 16px;
  width:300px;
 
}
.data{ 
  margin: 30px;
  width: 700px;
  /* padding: 30px; */
  text-align: center;
   
}
.fm{
  display: flex;
  justify-content: center;
}

.dt{
  width:900px;
  max-height: 300px;    /* Set max height for the whole .dt block */
  overflow-y: auto;     /* Show vertical scrollbar only when content overflows */
  border: 1px solid black; /* Optional styling */
  display: flex;
  justify-content: center;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
th, td {
  padding: 12px 16px;
  font-size: 15px;
  text-align: center;
}

th {
  background-color:#121C3E ;
  color:white;
  font-weight: bold;
}
.Search{
  margin-right: 492px;
}



